<div class="container-md my-4 text-center">
  <div class="row">
    <div class="col-11 mx-auto">
      <div id= "step-nav" class="step-nav d-flex flex-column justify-content-center mx-sm-5 align-items-center">
        <div class="container d-flex align-items-center justify-content-center" style="padding: 0 33px;">
          <a class="active-nav" href=""><span>1</span><p>ID Verification</p></a>
          <small></small>
          <a class="" href=""><span>2</span><p>Bank Verification</p></a>
          <small></small>
          <a class="" href=""><span>3</span><p>Debit Card Verification</p></a>
        </div>
        <div class="p-0 container d-flex justify-content-between">
          <h6 class="active-nav">ID Verification</h6>
          <h6>Bank Verification</h6>
          <h6>Debit Card Verification</h6>
        </div>
      </div>
    </div>
  </div>
</div>
