<div class="step-1 py-2 col-11 mx-auto">
  <h1 class="my-sm-4 font-weight-lighter">Use your phone</h1>
  <img class="my-3" src="./img/mobile-phone.svg" alt="cellphone" height="60">
  <p>Please enter your number below and we'll text you a link that you can use to finish scanning your ID</p>
  <form action="" class="mt-5 my-4 text-start form-phone d-flex flex-column align-items-center">
    <label for="number">
      <p>Phone Number</p>
      <input class="input-phone my-1 border rounded text-center" type="text" id="phone" placeholder="(555) 555-5555">
    </label>
  </form>
  <!-- subir boton al form -->
  <a class="btn btn-access my-3 start-verification" href="steps-phone.html">Submit</a>
  <div class="options-note">
    <p class="pb-2">Message and data rates may apply. One text per attempt.</p>
  <a href="">Send me an email instead.</a>
  </div>
  
</div>